*{ padding: 0%;
margin: 0;
box-sizing: 0;}

*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
/*index*/
.grid-layout-1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    'area1 area2'
    'area3 area3';
    justify-content: center;
    margin: 1%;
    gap: 5px;
    padding-top: 20px;
}

    
    

.caja-i{
    color: red;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    height: 100%;
    text-align: center;
}
.caja-i h4{
    text-decoration: underline;
    text-align: center;
}
.caja-i h3{
    text-decoration: underline;
    text-align: center;
}
.caja-i img{
    width: 50%;
    height: auto;
    object-fit: cover;
    
}
.full-back{
    background-image: url(../multimedia/humo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c1{
    grid-area: area1;
    
}
.c2{
    grid-area: area2;
}
.c3{grid-area: area3;
    text-align: center;
    font-size: 24px;
}


/*albumes*/

.grid-layout-3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    'area1 area1'
    'area2 area2'
    'area4 area4'
    'area3 area3';
    text-align: center;
    margin: 1%;
    gap: 5px;
    padding-top: 5% ;
}
.caja-a{
    background-color: rgba(0, 0, 0, 0.500);
    color: red;

}
.ca1{
    grid-area: area1;
}
.ca2{grid-area: area2;}
.ca3{grid-area: area3;
}
.ca4{grid-area: area4;}
.grid-layout-3 h2{
    text-decoration: underline;
}
.grid-layout-3 h3{
    text-decoration: underline;
}
/*Biografia*/
.grid-layout-4{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-template-areas: 'area1 area2'
    'area1 area2';
    text-align: center;
    padding-top: 5%;
    margin: 1%;
    gap: 5px;
}
.caja-b{
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    font-size: 28px;

}
.cb1{grid-area: area1;}
.cb2{grid-area: area2;}
.caja-b h2{
    text-decoration: underline;
    color: red;
}

/*Noticias*/
.grid-layout-2{
    margin: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: 'area1 area2'
    'area1 area3';
    color: red;
    text-align: center;
    padding-top: 5%;
}
.caja-n{
    background-color: rgba(0, 0, 0, 0.500);
}
.cn1{
    grid-area: area1;
    
    
}
.cn2{
    grid-area: area2;
    font-size: 24px;
    
}
.cn3{
    grid-area: area3;
    
    
}
.cn2 table{
    margin: auto;
}

    /*contacto*/
    .cont1{
    color: red;
    background-color:rgba(0, 0, 0, 0.501) ;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    height: 100%;
    padding-bottom: 300px;
 }
 .form1{
    position: relative;
    height: 100%;
    text-align: center;
    padding: 50px;
   

}
.eml1{
    left: 44%;
    position: absolute;
    top: 45%;
    
}


/*footer*/

.footer{
    position: static;
    color: red;
    bottom: 0%;
    text-align: center; 
    width: 100%;    
    background-color: black;
    text-decoration: none;
}
.foot-link{
color: red;
padding: 10px;
text-decoration: none;
display: inline-block;
bottom: 0;

}
