.footer{
    
    background-color: black;
    color: white;
    overflow: hidden;
    p{
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    ul{flex-direction: row;
    list-style-type: none;
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
a{text-decoration: none;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, red, red);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2%;
    transition: 0.3s;
    &:hover {
        background-size: 100% 100%;
    }}
}

}