* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0%;
  margin: 0%;
}
.full-back {
  background-image: url(../multimedia/humo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
